<div>
	<!--ADD FORM COMPONENT-->
	<form #timeForm="ngForm" (ngSubmit)="submitTimeForm(timeForm.value)">
		<div>
			<input type="text" name="description" [(ngModel)]="report.description" #description="ngModel" placeholder="Report description" required>
		</div>
		<div>
			<input type="number" step="0.25" name="time" [(ngModel)]="report.time" #time="ngModel" placeholder="Hours worked" required>
		</div>
		<div>
			<input type="date" name="date" [(ngModel)]="report.date" #date="ngModel" required />
		</div>
		<input type="checkbox" name="billable" [(ngModel)]="report.billable" #billable="ngModel" />
		<button color="primary" type="submit" class="time-add-report-button">Add!</button>
	</form>
	<!--ADD FORM COMPONENT-->
</div>
