/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
body {
	margin: 0!important;
}
.example-spacer {
	flex: 1 1 auto;
}
.time-menu-link {
	margin: 0 20px;
}
